[Desktop Entry]
Name=IntelliJ IDEA
Comment=IntelliJ IDEA Entwicklungsumgebung starten
Keywords=development;ide;java
#TryExec=
Exec=/software/idea/bin/idea.sh
StartupNotify=true
Terminal=false
Type=Application
Icon=/software/idea/bin/idea.png
